.projet-tasks-component {
  width: 80%;
  margin: 0 auto;
}

.projet-task-item {
  height: 260px;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  padding: 25px 40px;
}

.projet-task-items-head {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.item-title {
  display: flex;
  gap: 8px;
}

.item-title h5 {
  font-weight: 600;
  font-size: 1.125rem;
}

.item-title span {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  width: 75px;
  height: 25px;
  border-radius: 50px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-description {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  color: #6b7280;
}
