.footer-component {
  background-color: #ffffff;
  width: 100%;
  height: 68px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-component p {
  font-family: var(--font-inter);
  color: #000000;
}
