header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px;
  gap: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);

  @media (min-width: 1024px) {
    padding: 10px 100px;
  }
}

.user-logo {
  background-color: #ffe8d9;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;

  &:hover {
    background-color: var(--color-orange);
    color: #ffffff;
  }
}

nav {
  height: 78px;
  width: 496px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.nav-link {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-family: 'Inter', sans-serif;
  color: var(--color-orange);
  border-radius: 10px;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }

  &.active {
    background-color: var(--color-black);
    color: #ffffff;
  }
}

.profil-active {
  background-color: var(--color-orange);
  color: #ffffff;
}

nav a:hover .nav-logo {
  color: #ffffff;
}
