.projets-page {
  padding-top: 70px;
  width: 80%;
  margin: 0 auto;
}

.projets-page-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.page-title {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.page-title h4 {
  font-weight: 600;
  font-size: 1.5rem;
}

.page-title p {
  font-family: var(--font-inter);
  font-size: 1.125rem;
}

.projets-page-head button {
  background-color: var(--color-black);
  color: #ffffff;
  font-size: 1rem;
  border-radius: 10px;
  height: 50px;
  width: 180px;
  &:hover {
    background-color: #000000;
  }
}

.projets-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 16px;
  column-gap: 16px;
}

@media (max-width: 1000px) {
  .projets-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projets-list {
    grid-template-columns: 1fr;
  }

  .projets-page-head {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
