.kanban-container {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.kanban-container h5 {
  font-size: 1.125rem;
  font-weight: 600;
}

.task-counter {
  background-color: #e5e7eb;
  padding: 4px 16px;
  border-radius: 50px;
  font-size: 0.875rem;
  font-family: var(--font-inter);
  color: var(--color-dark-grey);
}

.tasks-list-kanban {
  background-color: #ffffff;
  border: 1px solid #ffe0e0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.kanban-title {
  padding: 30px 0 30px 24px;
}

.todo-container,
.in-progress-container,
.done-container {
  width: 100%;
}

@media (max-width: 1200px) {
  .kanban-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 880px) {
  .kanban-container {
    grid-template-columns: 1fr;
  }
}
