.kanban-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.kanban-container h5 {
  font-size: 1.125rem;
}

.task-counter {
  background-color: #e5e7eb;
  padding: 4px 16px;
  border-radius: 50px;
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
  color: #6b7280;
}

.tasks-list-kanban {
  background-color: #ffffff;
  border: 1px solid #ffe0e0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.kanban-title {
  padding: 30px 0 30px 24px;
}

.todo-container {
  width: 33%;
}

.in-progress-container {
  width: 33%;
}

.done-container {
  width: 33%;
}

@media (max-width: 768px) {
  .kanban-container {
    flex-direction: column;
    gap: 30px;
  }

  .todo-container,
  .in-progress-container,
  .done-container {
    width: 100%;
  }
}
