.contributor-component {
  margin-top: 50px;
  background-color: #f3f4f6;
  border-radius: 10px;
  height: 67px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contributor-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contributor-left h5 {
  font-size: 1.125rem;
  font-weight: 600;
}

.contributor-left p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #6b7280;
}

.contributor-right {
  display: flex;
  gap: 8px;
}

.avatar-container {
  display: flex;
  gap: 8px;
}

.avatar-name {
  background-color: var(--color-grey);
  border-radius: 50px;
  padding: 4px 16px;
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  color: #6b7280;
}
