.contributor-component {
  margin-top: 50px;
  background-color: #f3f4f6;
  border-radius: 10px;
  height: 67px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contributor-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contributor-left h5 {
  font-size: 1.125rem;
  font-weight: 600;
}

.contributor-left p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #6b7280;
}

.contributor-right {
  display: flex;
  gap: 8px;
}

.avatar-container {
  display: flex;
  gap: 8px;
}

.contributor-avatar {
  font-family: 'Inter', sans-serif;
  width: 27px;
  height: 27px;
  padding: 8px 4px;
  border-radius: 13px;
  border: 1px solid #ffffff;
  background-color: var(--color-grey);
  color: #111827;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
}

.owner-pill-contributor {
  font-family: 'Inter', sans-serif;
  height: 25px;
  width: 100px;
  padding: 4px 16px;
  border-radius: 50px;
  background-color: #ffe8d9;
  color: var(--color-orange);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
}

.avatar-name {
  background-color: var(--color-grey);
  border-radius: 50px;
  padding: 4px 16px;
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  color: #6b7280;
}
