:root {
  --background: #f9fafb;
  --color-orange: #d3590b;
  --color-black: #1f1f1f;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 0%;
}

button {
  cursor: pointer;
  border: none;
}
