.dashboard-page {
  width: 80%;
  margin: 0 auto;
}

.dashboard-page h4 {
  font-weight: 600;
  font-size: 1.5rem;
}

.dashboard-page p {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
}

.dashboard-head {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.dashboard-head div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-head button {
  background-color: var(--color-black);
  color: #ffffff;
  font-size: 1rem;
  border-radius: 10px;
  height: 50px;
  width: 180px;
  &:hover {
    background-color: #000000;
  }
}

.list-kanban-btn-container {
  display: flex;
  gap: 10px;
}

.list-kanban-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  background-color: #ffffff;
  font-size: 0.875rem;
  color: var(--color-orange);
  padding: 14px 16px;
  height: 45px;
  width: 111px;
  border-radius: 8px;
  transition: 0.2s all ease-in-out;
  &:hover {
    background-color: #ffe8d9;
  }
}
