.list-container {
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid var(--color-grey);
}

.list-header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.list-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.list-title h5 {
  font-size: 1.125rem;
  font-weight: 600;
}

.list-title p {
  font-size: 1rem;
  color: var(--color-dark-grey);
}

.list-search {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 23px 32px;
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  font-size: 0.875rem;
}

.no-tasks-message {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  color: var(--color-dark-grey);
  text-align: center;
  padding: 20px;
}

@media (max-width: 700px) {
  .list-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .list-search {
    width: 100%;
    justify-content: center;
  }
}
